<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/stream/assets/ffmpeg/package/dist/umd/ffmpeg.js"></script>
    <script src="/stream/assets/util/package/dist/umd/index.js"></script>
    <title>Dashboard</title>
    {% include favicons.html %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
  
        .b-example-divider {
          width: 100%;
          height: 3rem;
          background-color: rgba(0, 0, 0, .1);
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
  
        .b-example-vr {
          flex-shrink: 0;
          width: 1.5rem;
          height: 100vh;
        }
  
        .bi {
          vertical-align: -.125em;
          fill: currentColor;
        }
  
        .nav-scroller {
          position: relative;
          z-index: 2;
          height: 2.75rem;
          overflow-y: hidden;
        }
  
        .nav-scroller .nav {
          display: flex;
          flex-wrap: nowrap;
          padding-bottom: 1rem;
          margin-top: -1px;
          overflow-x: auto;
          text-align: center;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
        }
  
        .btn-bd-primary {
          --bd-violet-bg: #712cf9;
          --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  
          --bs-btn-font-weight: 600;
          --bs-btn-color: var(--bs-white);
          --bs-btn-bg: var(--bd-violet-bg);
          --bs-btn-border-color: var(--bd-violet-bg);
          --bs-btn-hover-color: var(--bs-white);
          --bs-btn-hover-bg: #6528e0;
          --bs-btn-hover-border-color: #6528e0;
          --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
          --bs-btn-active-color: var(--bs-btn-hover-color);
          --bs-btn-active-bg: #5a23c8;
          --bs-btn-active-border-color: #5a23c8;
        }
  
        .bd-mode-toggle {
          z-index: 1500;
        }
  
        .bd-mode-toggle .dropdown-menu .active .bi {
          display: block !important;
        }
      </style>
    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.3/examples/dashboard/dashboard.css" rel="stylesheet">  

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
          <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 active" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
                      <svg class="bi"><use xlink:href="#house-fill"/></svg>
                      Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" id="image-tab" data-bs-toggle="tab" data-bs-target="#image" type="button" role="tab" aria-controls="image" aria-selected="false">
                      <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                      Image
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" id="video-tab" data-bs-toggle="tab" data-bs-target="#video" type="button" role="tab" aria-controls="video" aria-selected="false">
                      <svg class="bi"><use xlink:href="#cart"/></svg>
                      Video
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">Dashboard</h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                      <svg class="bi"><use xlink:href="#calendar3"/></svg>
                      This week
                    </button>
                  </div>
                </div>
                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
                <h2>Section title</h2>
                <div class="table-responsive small">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Header</th>
                        <th scope="col">Header</th>
                        <th scope="col">Header</th>
                        <th scope="col">Header</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1,001</td>
                        <td>random</td>
                        <td>data</td>
                        <td>placeholder</td>
                        <td>text</td>
                      </tr>
                      <tr>
                        <td>1,002</td>
                        <td>placeholder</td>
                        <td>irrelevant</td>
                        <td>visual</td>
                        <td>layout</td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>data</td>
                        <td>rich</td>
                        <td>dashboard</td>
                        <td>tabular</td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>information</td>
                        <td>placeholder</td>
                        <td>illustrative</td>
                        <td>data</td>
                      </tr>
                      <tr>
                        <td>1,004</td>
                        <td>text</td>
                        <td>random</td>
                        <td>layout</td>
                        <td>dashboard</td>
                      </tr>
                      <tr>
                        <td>1,005</td>
                        <td>dashboard</td>
                        <td>irrelevant</td>
                        <td>text</td>
                        <td>placeholder</td>
                      </tr>
                      <tr>
                        <td>1,006</td>
                        <td>dashboard</td>
                        <td>illustrative</td>
                        <td>rich</td>
                        <td>data</td>
                      </tr>
                      <tr>
                        <td>1,007</td>
                        <td>placeholder</td>
                        <td>tabular</td>
                        <td>information</td>
                        <td>irrelevant</td>
                      </tr>
                      <tr>
                        <td>1,008</td>
                        <td>random</td>
                        <td>data</td>
                        <td>placeholder</td>
                        <td>text</td>
                      </tr>
                      <tr>
                        <td>1,009</td>
                        <td>placeholder</td>
                        <td>irrelevant</td>
                        <td>visual</td>
                        <td>layout</td>
                      </tr>
                      <tr>
                        <td>1,010</td>
                        <td>data</td>
                        <td>rich</td>
                        <td>dashboard</td>
                        <td>tabular</td>
                      </tr>
                      <tr>
                        <td>1,011</td>
                        <td>information</td>
                        <td>placeholder</td>
                        <td>illustrative</td>
                        <td>data</td>
                      </tr>
                      <tr>
                        <td>1,012</td>
                        <td>text</td>
                        <td>placeholder</td>
                        <td>layout</td>
                        <td>dashboard</td>
                      </tr>
                      <tr>
                        <td>1,013</td>
                        <td>dashboard</td>
                        <td>irrelevant</td>
                        <td>text</td>
                        <td>visual</td>
                      </tr>
                      <tr>
                        <td>1,014</td>
                        <td>dashboard</td>
                        <td>illustrative</td>
                        <td>rich</td>
                        <td>data</td>
                      </tr>
                      <tr>
                        <td>1,015</td>
                        <td>random</td>
                        <td>tabular</td>
                        <td>information</td>
                        <td>text</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">Image</h1>
                </div>
                <div><input type="file" id="uploaderImg" multiple></div>
                
                <div class="my-2">
                  <button id= "optimize" class="btn btn-primary">Optimize</button>
                  <button id= "removeBg" class="btn btn-primary">Remove Background</button>
                  <button id= "anaglyph" class="btn btn-primary">Anaglyphize</button>
                </div>
  
                <img style="width:100%;" id="rotatedImage">
            
                <script type='module'>
  
                  //import the library to talk to imagemagick
                  // import * as Magick from 'https://knicknic.github.io/wasm-imagemagick/magickApi.js';
                  import * as Magick from 'https://cdn.jsdelivr.net/npm/wasm-imagemagick/dist/bundles/magickApi.js';
                  
                  // various html elements
                  let rotatedImage = document.getElementById('rotatedImage');
            
                  var imageMain = null;
                  const upload = async ({ target: { files } }) => {
                    imageMain = files[0];
                  }
            
                  var optimize = async function() {
                    let arrayBuffer = await imageMain.arrayBuffer();
                    let sourceBytes = new Uint8Array(arrayBuffer);
            
                    // calling image magick with one source image, and command to rotate & resize image
                    const fileObj = [{ 'name': 'srcFile', 'content': sourceBytes }];
                    // https://stackoverflow.com/questions/12424018/how-to-replace-white-background-color-with-transparent-of-an-image-in-imagemagic
                    // https://stackoverflow.com/questions/40127266/change-jpeg-into-progressive-jpeg-image
  
                    const command = ["convert", "srcFile", "-strip", "-quality", "86", "-interlace", "plane", "out"];
                    let processedFiles = await Magick.Call(fileObj, command);
            
                    // response can be multiple files (example split)
                    // here we know we just have one
                    let firstOutputImage = processedFiles[0]
                    rotatedImage.src = URL.createObjectURL(firstOutputImage['blob'])
                    console.log("created image " + firstOutputImage['name']);                  
                  }
  
                  var removeBg = async function() {
                    let arrayBuffer = await imageMain.arrayBuffer();
                    let sourceBytes = new Uint8Array(arrayBuffer);
            
                    // calling image magick with one source image, and command to rotate & resize image
                    const fileObj = [{ 'name': 'srcFile', 'content': sourceBytes }];
                    // https://stackoverflow.com/questions/12424018/how-to-replace-white-background-color-with-transparent-of-an-image-in-imagemagic
                    // https://stackoverflow.com/questions/40127266/change-jpeg-into-progressive-jpeg-image
  
                    const command = ["convert", "srcFile", "-fuzz", "20%", "-transparent", "white", "out"];
                    let processedFiles = await Magick.Call(fileObj, command);
            
                    // response can be multiple files (example split)
                    // here we know we just have one
                    let firstOutputImage = processedFiles[0]
                    rotatedImage.src = URL.createObjectURL(firstOutputImage['blob'])
                    console.log("created image " + firstOutputImage['name']);    
                  }
  
                  var anaglyph = async function() {
                    let arrayBuffer = await imageMain.arrayBuffer();
                    let sourceBytes = new Uint8Array(arrayBuffer);
            
                    // calling image magick with one source image, and command to rotate & resize image
                    const fileObj = [{ 'name': 'srcFile', 'content': sourceBytes }];
  
                    //https://github.com/ImageMagick/ImageMagick/discussions/6181
                    //https://legacy.imagemagick.org/discourse-server/viewtopic.php?t=12424&start=15
                    const command = [ "convert", "srcFile", "-background", "black", "-gravity", "east", "-splice", "6x0+0+0", "(", "+clone", "-roll", "+6+0", ")", "(", "+clone", ")", "-combine", "out" ];
                    let processedFiles = await Magick.Call(fileObj, command);
            
                    // response can be multiple files (example split)
                    // here we know we just have one
                    let firstOutputImage = processedFiles[0]
                    rotatedImage.src = URL.createObjectURL(firstOutputImage['blob'])
                    console.log("created image " + firstOutputImage['name']);    
                  }
    
                  // save image after upload
                  document.getElementById('uploaderImg').addEventListener('change', upload);
                  
                  // image actions
                  document.getElementById('optimize').addEventListener('click', optimize);
                  document.getElementById('removeBg').addEventListener('click', removeBg);
                  document.getElementById('anaglyph').addEventListener('click', anaglyph);
                
                </script>
              </div>
              <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">Video</h1>
                </div>
                <input type="file" id="uploader">
                <div class="my-2">
                  <button id= "encode" class="btn btn-primary">Encode</button>           
                </div>  
                <p id="message"></p>
                <video class="my-2" style="width:100%;" id="output-video" controls></video><br/>
                <script>
                  const { fetchFile } = FFmpegUtil;
                  const { FFmpeg } = FFmpegWASM;
                  let ffmpeg = null;
            
                  var videoMain = null;
                  const uploadVideo = async ({ target: { files } }) => {
                    videoMain = files[0];
                  }

                  const encode = async function() {
                    const message = document.getElementById('message');
                    if (ffmpeg === null) {
                      ffmpeg = new FFmpeg();
                      ffmpeg.on("log", ({ message }) => {
                        console.log(message);
                      })
                      ffmpeg.on("progress", ({ progress }) => {
                        message.innerHTML = `${progress * 100} %`;
                      });
                      await ffmpeg.load({
                        coreURL: "/stream/assets/core/package/dist/umd/ffmpeg-core.js",
                      });
                    }
                    const { name } = videoMain;
                    await ffmpeg.writeFile(name, await fetchFile(videoMain));
                    message.innerHTML = 'Encoding...';
                    await ffmpeg.exec(['-i', name, '-c:v', 'copy', '-strict', 'experimental', 'output.mp4']);
                    message.innerHTML = 'Complete encoding';
                    const data = await ffmpeg.readFile('output.mp4');
                    const video = document.getElementById('output-video');
                    video.src = URL.createObjectURL(new Blob([data.buffer], { type: 'video/mp4' }));
                  }
                  document.getElementById('uploader').addEventListener('change', uploadVideo);

                  document.getElementById('encode').addEventListener('click', encode);
                </script>
              </div>
            </div>
          </main>
        </div>
      </div>

      <script>
        var parsedUrl = new URL(window.location.toString());
        var copyText = 
`{% raw %}
---
title: "Repost: ${parsedUrl.searchParams.get('title')}"
repostlink: "${parsedUrl.searchParams.get('text')}"
tags: []
---

{% include embed/linkpreview-repost.html %}
{% endraw %}`;

        navigator.clipboard.writeText(copyText);
      </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/5.3/examples/dashboard/dashboard.js"></script></body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
